/* 410-600 mobile */

* {
    font-family: 'Sarabun', sans-serif;
}

body {
    background-color: black;
    color: lightgray;
    text-align: center;
    max-width: 1200px;
    margin: 0px auto;
}

header {
    background-color: #111;
    background-image: url(../img/MellowPark.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: border-box;
    background-size: 100% auto;
    padding: 0px;
    margin: 0px;

}

#profile {
    width: 150px;
    height: auto;
    border-radius: 75px;
    margin: 0px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

/* desktop */

@media screen and (min-width: 600px) {
    ul {
        display: flex;
        justify-content: space-evenly;
    }
    /* .wrapper{
        display: flex;
        flex-wrap: wrap-reverse; */
/* na desktop .word i .skills maja byc obok siebie */
    }
}

/* background fix */

@media screen and (max-width: 450px) {
    header {
        background-size: auto 100%;
    }
}